.container {
  margin: 2rem;
  color: black;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-items: center;
  box-shadow: 2px 3px #e4e2e2;
  background-color: white;
  border-radius: 5px;
}
.header-title-div {
  margin-left: 1rem;
}

.header-theme-div {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  justify-items: center;
}
.theme-icon {
  height: 1.2rem;
  width: auto;
  margin-right: 0.3rem;
  margin-top: 0.2rem;
  align-items: flex-end;
}

.theme-name {
  padding-bottom: 0.3rem;
}

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.search-box {
  padding: 0.5rem;
  border-radius: 6px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  box-shadow: 2px 3px grey;
}

.region-select {
  padding: 0.5rem;
  border-radius: 6px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  box-shadow: 2px 3px grey;
}

.country-card {
  background-color: white;
  margin-bottom: 2rem;
  padding: 0.8rem;
  border-radius: 6px;
  margin-right: 1rem;
  box-shadow: 2px 3px #e4e2e2;
}
.image-div {
  margin-bottom: 1.5rem;
}

.countries-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.country-flag {
  width: 14rem;
  height: auto;
}

.country-name {
  max-width: 14rem;
}

.country-stat {
  font-size: small;
}

.attribute-title {
  font-weight: 640;
  margin-right: 0.5rem;
}

.content-div {
  line-height: 60%;
}

.name-div {
  margin-bottom: 1rem;
}

/*COUNTRY DETAILS*/
.borders-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  align-items: baseline;
  margin-top: 1.3rem;
}
.details-container {
  width: 100%;
  background-color: aqua;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 2px 3px #e4e2e2;
  background-color: white;
  border-radius: 5px;
  margin-top: 0.3rem;
}
.country-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.info-div {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  line-height: 60%;
}

.flag-div {
  width: 33rem;
  height: auto;
  margin-right: 4rem;
}

.details-flag {
  width: 100%;
}

.primary-div {
  margin-right: 2rem;
}

.info-container {
  /*align-self: center;*/
  display: flex;
  flex-direction: column;
  /*background-color: blueviolet;*/
  justify-content: center;
  width: 33rem;
}

.back-button-div {
  border-radius: 6px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  box-shadow: 2px 3px grey;
  margin-bottom: 2rem;
  width: 7rem;
  background-color: white;
  padding: 0.4rem;
}
.back-button {
  border: 0px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
}
.border-button {
  border-radius: 6px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  box-shadow: 2px 3px grey;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  min-width: 5rem;
}

.borders-text {
  font-weight: bold;
}
