:root {
  --dark-bg: #2b3743;
  --black-color: black;
  --light-shadow: grey;
  --dark-shadow: white;
  --white-color: white;
  --dark-accent: #212e37;
}

.container {
  width: max-content;
  padding: 2rem;
}

.light-text {
  color: var(--black-color);
}

.dark-text {
  color: var(--white-color);
}

.light-shadow {
  border-radius: 6px;
  border-style: solid;
  border-color: var(--light-shadow);
  border-width: 1px;
  box-shadow: 2px 3px var(--light-shadow);
}

.dark-shadow {
  border-radius: 6px;
  border-style: solid;
  border-color: var(--dark-accent);
  border-width: 1px;
  box-shadow: 2px 3px var(--dark-accent);
}

.light-bg {
  background-color: var(--white-color);
}
.dark-bg {
  background-color: var(--dark-bg);
}

.dark-accent-bg {
  background-color: var(--dark-accent);
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-items: center;
}
.header-title-div {
  margin-left: 1rem;
}

.header-theme-div {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  justify-items: center;
}
.theme-icon {
  height: 1.2rem;
  width: auto;
  margin-right: 0.3rem;
  margin-top: 0.2rem;
  align-items: flex-end;
}

.theme-name {
  padding-bottom: 0.3rem;
}

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.search-box {
  padding: 0.5rem;
}

.region-select {
  padding: 0.5rem;
}

.country-card {
  margin-bottom: 2rem;
  padding: 0.8rem;
  margin-right: 1rem;
}
.image-div {
  margin-bottom: 1.5rem;
}

.countries-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.country-flag {
  width: 14rem;
  height: auto;
}

.country-name {
  max-width: 14rem;
}

.country-stat {
  font-size: small;
}

.attribute-title {
  font-weight: 640;
  margin-right: 0.5rem;
}

.content-div {
  line-height: 60%;
}

.name-div {
  margin-bottom: 1rem;
}

/*COUNTRY DETAILS*/
.borders-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  align-items: baseline;
  margin-top: 1.3rem;
}
.details-container {
  width: 100%;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 2px 3px var(--light-shadow);
  background-color: var(--white-color);
  border-radius: 5px;
  margin-top: 0.3rem;
}
.country-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.info-div {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  line-height: 60%;
}

.flag-div {
  width: 33rem;
  height: auto;
  margin-right: 4rem;
}

.details-flag {
  width: 100%;
}

.primary-div {
  margin-right: 2rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33rem;
}

.back-button-div {
  border-radius: 6px;
  border-style: solid;
  border-color: var(--light-shadow);
  border-width: 1px;
  box-shadow: 2px 3px var(--light-shadow);
  margin-bottom: 2rem;
  width: 7rem;
  background-color: var(--white-color);
  padding: 0.4rem;
}
.back-button {
  border: 0px;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 6px;
}
.border-button {
  border-radius: 6px;
  border-style: solid;
  border-color: var(--light-shadow);
  border-width: 1px;
  box-shadow: 2px 3px var(--light-shadow);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  min-width: 5rem;
}

.borders-text {
  font-weight: bold;
}
